.main-page__breadcrumbs {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 60px;
  gap: 20px;
}
.main-page__breadcrumbs-item {
  padding: 12px 18px;
  border-radius: 20px;
}
.main-page__breadcrumbs-item[data-theme=light] {
  background: #F7F7F7;
}
.main-page__breadcrumbs-item[data-theme=dark] {
  background: #3F3F3F;
}
.main-page-section:not(:first-child) {
  padding-top: 125px;
}
.main-page-section h1, .main-page-section h2 {
  font-weight: 600;
  font-size: 50px;
  line-height: 61px;
  padding-bottom: 18px;
}
.main-page-section__intro h1 {
  display: inline-flex;
  align-items: center;
}
.main-page-section__intro h1 span {
  margin-left: 12px;
  display: inline-block;
  height: 50px;
  width: 50px;
  background-size: cover;
  background-image: url("../../Assets/hello.png");
}
.main-page-section__intro p {
  font-size: 28px;
  line-height: 34px;
}
.main-page-section__contacts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 18px;
}
.main-page-section__contacts a {
  transition: transform 0.1s ease-out;
  padding: 16px 18px;
  border-radius: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  line-height: 34px;
}
.main-page-section__contacts a[data-theme=light] {
  background: #F7F7F7;
}
.main-page-section__contacts a[data-theme=dark] {
  background: #3F3F3F;
}
.main-page-section__contacts a[data-theme=light] {
  color: #323232;
}
.main-page-section__contacts a[data-theme=dark] {
  color: #FFFFFF;
}
.main-page-section__contacts a:hover {
  transform: scale(1.05);
}
.main-page-section__contacts a svg {
  margin-right: 12px;
}
.main-page-section__contacts a svg[data-theme=light] {
  fill: #323232;
}
.main-page-section__contacts a svg[data-theme=dark] {
  fill: #FFFFFF;
}
.main-page-section__contacts a:last-child {
  grid-column: 1/3;
}
.main-page__skills-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 18px;
}
.main-page__skills-list-item a {
  transition: transform 0.1s ease-out;
  padding: 32px 30px;
  border-radius: 18px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.main-page__skills-list-item a:hover {
  transform: scale(1.03);
}
.main-page__skills-list-item a h3 {
  color: #3F3F3F;
  font-weight: 600;
  font-size: 45px;
  line-height: 55px;
}
.main-page__skills-list-item a svg {
  fill: #3F3F3F;
}
.main-page__skills-list-item_js a {
  background: linear-gradient(84.41deg, #FFF1EB 1.65%, #F7F5CA 100%);
}
.main-page__skills-list-item_ts a {
  background: linear-gradient(129.28deg, #DED9FF 0%, #CBEFFF 101.28%);
}
.main-page__skills-list-item_html a {
  background: linear-gradient(78.11deg, #FDE7EA 17.39%, #FDEFDA 82.61%);
}
.main-page__skills-list-item_css a {
  background: linear-gradient(128.49deg, #B7D4FF 0%, #CFC7FF 100%);
}
.main-page__skills-list-item_react a {
  background: linear-gradient(308.49deg, #DAFCFC 0%, #F9E7FE 100%);
}
.main-page__skills-list-item_redux a {
  background: linear-gradient(95.89deg, #F0D7FA 0%, #FBE6E6 96.6%);
}
.main-page__skills-list-item_mongodb a {
  background: linear-gradient(51.51deg, #E6FFF7 0%, #E4FFE0 100%);
}
.main-page__skills-list-item_linux a {
  background: radial-gradient(100% 1041.07% at 0% 0%, #E0E7D2 0%, #C8C8C8 100%);
}

@media screen and (max-width: 900px) {
  .main-page__skills-list {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 750px) {
  .main-page-section__contacts {
    grid-template-columns: 1fr;
  }
  .main-page-section__contacts a {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .main-page-section__contacts a:last-child {
    grid-column: 1;
  }
}
@media screen and (max-width: 530px) {
  .main-page {
    padding: 40px 0;
  }
  .main-page__breadcrumbs {
    gap: 12px;
    padding-bottom: 40px;
  }
  .main-page-section:not(:first-child) {
    padding-top: 80px;
  }
  .main-page-section h1, .main-page-section h2 {
    font-size: 38px;
    padding-bottom: 16px;
  }
  .main-page-section__intro h1 span {
    display: none;
  }
  .main-page-section__intro p {
    font-size: 24px;
  }
  .main-page-section__contacts {
    grid-gap: 14px;
  }
  .main-page__skills-list {
    grid-gap: 14px;
  }
  .main-page__skills-list-item a {
    padding: 20px 30px;
    display: flex;
  }
  .main-page__skills-list-item a h3 {
    height: auto;
    font-size: 28px;
    line-height: 34px;
  }
  .main-page__skills-list-item a svg {
    width: 36px;
    height: 36px;
  }
}

/*# sourceMappingURL=IndexScreen.css.map */
